:root {
  --gray: #e5dce5;
  --violet: #aa6aaa;
  --white: #fff;
  --graywhite: #eae4ea;
  --lightgray: #dcdcdc;
  --black: #000;
  --navyblue: #18212d;
  --purple: rgb(177, 25, 177);
  --brown: #8a737d;
  --skyblue: rgb(23, 177, 248);
}

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Rakkas&display=swap");

@font-face {
  font-family: "SangBleu Sunrise";
  src: url("fonts/SangBleu-Sunrise/SangBleu\ Sunrise.ttf") format("opentype");
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: "DM Sans", sans-serif;
}

.header .container {
  max-width: 100%;
}

.logo {
  height: 224px;
  width: 224px;
  display: block;
  z-index: 999;
}

.navbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: -150px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: var(--main-dark);
}

.cmn-btn {
  display: inline-block;
  background-color: #aa6aaa;
  padding: 10px 15px;
  border-radius: 20px;
  color: black;
}

.cmn-btn:hover {
  color: black;
  background: #eae4ea;
}

.header .container {
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
.logo {
  min-height: 224px;
  max-width: 224px;
  display: block;
  z-index: 999;
}

.navbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

.navlink {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: -150px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: var(--main-dark);
}
.nav-links li a:hover {
  color: var(--violet);
}
.cmn-btn {
  display: inline-block;
  background-color: #aa6aaa;
  padding: 10px 15px;
  border-radius: 20px;
  color: black;
}

.cmn-btn:hover {
  color: black;
  background: #eae4ea;
}

.banner {
  background: url("images/banner1-backround.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: auto;
  font-family: "SangBleu Sunrise";
  margin-top: -150px;
  border-radius: 20px;
}

.bannercontent h1 {
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 54px;
  font-weight: 500;
  padding-top: 45px;
  text-align: center;
}
.bannercontent p {
  text-align: center;
  margin-bottom: 30px;
}

.banner-down img {
  padding: 0 60px;
  width: 100%;
}

.contactus {
  margin-left: 45%;
  margin-bottom: 50px;
}

.mobile-menu-btn {
  display: none;
  font-size: 40px;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.property {
  position: relative;
  width: 100%;
}
.property-container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.col50 {
  flex: 0 0 50%;
  padding: 0 15px;
  width: 50%;
}
.blogcard {
  padding: 81px 10px;
}
.blogcard h2 {
  font-size: 50px;
  line-height: 58px;
  font-weight: 400;
  margin: 55px 0;
}
.blogcard p {
  font-size: 16px;
  line-height: 24px;
  margin-top: 71px;
}
.blogcard a {
  margin-top: 76px;
  background-color: #aa6aaa;
  color: #fff;
  text-transform: capitalize;
}
.property {
  width: 100%;
  position: relative;
  padding: 70px;
  display: flex;
}
.col25 {
  flex: 0 0 25%;
  width: 25%;
  padding: 15px;
}
img {
  height: auto;
  width: 100%;
}
.property-container h2 {
  font-size: 50px;
  line-height: 58px;
  font-weight: 400;
  margin: 55px 0;
  text-align: center;
  text-transform: capitalize;
}

.content {
  background-color: #bebebe;
  color: #18212d;
  border-radius: 7px;
  padding: 30px;
}
.content h4 {
  font-size: 28px;
  margin-bottom: 25px;
}
.content p {
  font-size: 16px;
  margin-bottom: 33px;
}
.content a {
  font-size: 16px;
  text-decoration: none;
  color: #18212d;
}
.content img {
  height: auto;
  max-width: 12.5px;
}

.service {
  padding-top: 70px;
  background: var(--lightgray);
  max-width: 100%;
  min-height: 800px;
  padding: 70px 0;
}
.service-content h2 {
  text-align: center;
  font-size: 45px;
  font-weight: 200;
  font-family: "SangBleu Sunrise";
  margin-bottom: 20px;
}
.max-container {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col25 {
  max-width: 25%;
  flex: 0 0 25%;
  padding: 0 15px;
}
.white-card {
  max-width: 340px;
  min-height: 330px;
  padding: 20px;
  border-radius: 10px;
  background: var(--graywhite);
  margin-bottom: 20px;
}
.lorembtn {
  margin-top: 45%;
  text-transform: capitalize;
}
.white-card a {
  color: var(--black);
}
.white-card a:hover {
  color: var(--violet);
}
.pink-card {
  max-width: 340px;
  min-height: 330px;
  padding: 20px;
  border-radius: 10px;
  background: var(--violet);
  margin-bottom: 20px;
}
.pink-card a {
  color: var(--white);
}
.pink-card a:hover {
  color: var(--black);
}
.img-card {
  max-width: 340px;
  min-height: 330px;
  /* padding:20px; */
  border-radius: 10px;
  margin-bottom: 20px;
}
.img-card img {
  max-width: 340px;
  min-height: 330px;
}

.testimonials .swiper-button-next svg,
.testimonials .swiper-button-prev svg {
  display: none;
}

.testimonials .swiper-button-next,
.testimonials .swiper-button-prev {
  width: 68px;
  height: 68px;
  background: var(--violet);
  border-radius: 100%;
  color: var(--white);
  transition: all 0.3s ease;
}
.testimonials .swiper-button-next:hover,
.testimonials .swiper-button-prev:hover {
  background: var(--lightgray);
  color: var(--violet);
}
/* testimonials */
.testimonials {
  padding: 80px 0;
}

.testimonials .mySwiper {
  width: 100%;
  padding: 50px 10px;
}

.s-heading h2,
.s-heading h3,
.s-heading h4,
.s-heading h5,
.s-heading p {
  text-align: center;
}

.s-heading h3 {
  font-size: 32px;
}

.testimonials h4 {
  margin: 25px 0;
  color: var(--violet);
}
.s-container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.testimonials .swiper-slide {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  transform: scale(0.8);
  transition: all 0.3s ease;
}

.testimonials .swiper-slide-active {
  opacity: 1;
  transform: scale(1.2);
}

.testimonials .swiper-slide img {
  max-width: 90px;
  height: 90px;
  display: block;
  border-radius: 10px;
}
.testi-btn {
  text-align: center;
  margin-bottom: 25px;
}

.get-touch {
  background-color: #8a737d;
  position: absolute;
  display: flex;
  padding: 15px 25px;
  /* max-width: 945px; */
  margin: 0 auto;
  top: 87.5%;
  left: 27%;
  align-items: center;
}
.get-touch h2 {
  padding: 0 20px;
  font-size: 50px;
  color: #fff;
  font-weight: 400;
}
.get-touch img {
  width: 103px;
  height: 72px;
  transform: rotate(31deg);
}
.get-touch .cmn-btn{
    background-color: var(--lightgray);
}
.get-touch .cmn-btn:hover{
    background-color: var(--violet);
}
.get-touch a {
  display: inline-block;
  text-decoration: none;
  color: #000;
}
.footer {
  background: var(--navyblue);
  padding: 70px;
}
.footerlogo{
    max-width:190px ;
    min-height: 159px;
    padding: 20px;
}
.footer .row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col40 {
  max-width: 40%;
  flex: 0 0 40%;
  padding: 0 15px;
}

.col20 {
  max-width: 20%;
  flex: 0 0 20%;
  padding: 0 15px;
}

.quicklinks h3,
.quicklinks li a {
  color: var(--white);
}

.links {
  margin-top: 30px;
}

.links li {
  padding: 5px;
}

.subscribe h3 {
  color: var(--white);
}

.sociallinks {
  display: flex;
  gap: 20px;
  margin-top: 66px;
}

.sociallinks li a {
  background: var(--white);
  color: var(--navyblue);
  padding: 10px;
  border-radius: 50%;
}

.sociallinks li a:hover {
  background: var(--skyblue);
  color: var(--navyblue);
}

.newsletter input {
  padding: 12px 40px;
  border-radius: 20px;
  top: 40px;
  position: relative;
}

.telegram {
  position: absolute;
  right: 22%;
  width: 20px;
  height: 20px;
}

.telegram i {
  color: var(--violet);
  font-size: 35px;
}

.quicklinks {
  position: relative;
}

.quicklinks::before {
  position: absolute;
  content: "";
  width: 52px;
  height: 2px;
  background: var(--white);
  top: 35px;
}

.subscribe h3 {
  position: relative;
}

.subscribe h3::before {
  position: absolute;
  content: "";
  width: 52px;
  height: 2px;
  background: var(--white);
  top: 35px;
}

.links li a:hover {
  color: var(--skyblue);
}

hr {
  margin-top: 20px;
}

.copy {
  text-align: center;
  padding: 10px;
  color: var(--white);
}

@media (max-width: 991px) {
  .nav-links {
    position: absolute;
    top: 0;
    left: -100%;
    max-width: 300px;
    width: 100%;
    height: 100vh;
    background: var(--violet);
    color: var(--white);
    flex-direction: column;
    justify-content: center;
    padding: 50px 0;
    transition: 0.4s ease-in-out;
    z-index: 999;
  }

  .nav-links li {
    margin: 20px 0;
    text-align: center;
  }

  .nav-links li a {
    color: var(--text-white);
  }

  .nav-links.active {
    left: 0;
    z-index: 999;
  }

  .mobile-menu-btn {
    display: block;
    font-size: 25px;
  }
  .service {
    padding-top: 70px;
    background: var(--lightgray);
    max-width: 100%;
    min-height: 800px;
  }
  .service-content {
    text-align: center;
    font-size: 28px;
    font-weight: 200;
    font-family: "SangBleu Sunrise";
  }

  .white-card {
    max-width: 240px;
    min-height: 230px;
    padding: 20px;
    border-radius: 10px;
    background: var(--gray);
    margin-bottom: 20px;
  }
  .white-card a {
    color: var(--black);
  }
  .white-card a:hover {
    color: var(--violet);
  }
  .pink-card {
    max-width: 240px;
    min-height: 230px;
    padding: 20px;
    border-radius: 10px;
    background: var(--violet);
    margin-bottom: 20px;
  }
  .pink-card a {
    color: var(--white);
  }
  .pink-card a:hover {
    color: var(--black);
  }
  .img-card {
    max-width: 240px;
    min-height: 230px;
    /* padding:20px; */
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .img-card img {
    max-width: 240px;
    min-height: 230px;
  }
  .lorembtn {
    margin-top: 15%;
    text-transform: capitalize;
  }
}
